* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
 box-sizing: border-box; 
text-decoration: none;
 font-size: 10px; 
 margin: 0;
padding: 0;
}


body {
    font-family: 'Karma', sans-serif;
}

header {
position: fixed;
display: flex;
justify-content: space-between;
align-items: center;
height: 50px;
padding: 35px 80px;
background-color: white;
z-index: 999;
width: 100%;
}

.left-sec  {
display: flex;
justify-content: center;
cursor: pointer;

}

.left-sec a i {
font-size: 2em;
color: #000;
width: 55px;
height: 70px;
display: flex;
justify-content: center;
align-items: center;
}

.left-sec a i:hover {
    background-color: rgb(224, 224, 224);
}


.mid-sec h2 {
    font-size: 2.5em;
    font-weight: 400;
}

.right-sec a {
text-decoration: none;
font-size: 2.5em;
color: #000;
}

.row {
    display: flex;
    width: 100%;
justify-content: center;
}

#first-row  {
padding: 120px 100px 20px 100px;
}  

#second-row  {
padding: 20px 100px 60px 100px;
}

.row .card {
overflow: hidden;
margin: 0  3px;
width: 25%;
}

.row .card .content {
align-items: center;
text-align:center;

}


.row .card .content img {
width: 30em;
min-height: 35em;
padding: 10px ;
align-items: center;
}

.content h3 {
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    padding: 0 7px 7px 7px;
}

.content p {
font-size: 14.5px;
text-align: center;
padding: 5px 3px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    line-height: 40px;
    margin-bottom: 50px;
}
.box .box-a {
width: 40px;
height: 40px;
text-align: center;
}

.box .box-a p {
    font-size: 15px;
    font-weight: 500;
    color: black;
}

.box .box-a p:hover {
    color: white;
}

.box .box-a:hover {
background-color: #000;
}

#one  {
    background-color: rgb(0, 0, 0);
}

#one p {
    color: white;
}

#icon:hover {
color: white;
}


hr {
    font-weight: 300;
    width: 1200px;
    margin: auto;
    opacity: 0.15;
}


.about-me {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 80px;
}

.about-me h2 {
width: 300px;
margin: auto;    
font-size: 24px;
font-weight: 400;
padding-top: 50px;
padding-bottom: 40px;
}

.about-me img {
    display: flex;
    justify-content: center;
    width: 800px;
    margin: auto;
}

.about-me h3 {
    width: 300px;
    margin: auto;    
    font-size: 21px;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 1px;
}

.about-me em {
    font-size: 16px;
    font-weight: 400;
}

.about-me p {
    word-spacing: 1px 3px;
    width: 1100px;
    padding-bottom: 80px;
}

.last-section {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    padding: 50px 90px ;
    width: 100%;
}

.last-section .sec {
    width: 100%;
    float: right;
    padding: 15px;
}


.sec h2{
font-size: 25px;
font-weight: 400;
}

#footer {
    max-width: 400px;
}

#footer p {
    font-size: 15px;
}

#footer a {
    text-decoration: underline;
    font-size: 13px;
}

.blog {
    display: flex;
    flex-direction: row;
    align-items: center;
width: 370px;
}

.blog:hover {
background-color: rgb(212, 209, 209);
} 

#blog-posts {
    max-width: 400px;
display: flex;
align-items: flex-start;
flex-direction: column;
}

#blog-posts p {
font-size: 15px;
display: inline-block;
padding-left: 10Px;
}

#blog-posts span {
    font-size: 19px;
}

#blog-posts img {
    width: 80px;
    height: 80px;
    padding: 15px;
}

#blog-posts hr {
    width: 350px;
opacity: .3;
}

#popular-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items:flex-end;
    max-width: 400px;
}

#popular-tags h2 {
    padding-bottom: 10px;
}


 .tag-box {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
 align-items: center;
 }  


 .tag-box .tags {
    min-width: 30px;
    text-align: center;
    min-height: 15px;
    padding: .5px 5px;
    margin: 10px 3px ;
    background-color: rgb(90, 90, 90);
    color: white;
    font-size: 12px;
}

#travel {
     background-color: #000;
font-size: 16px;
padding: 2px 6px 0 6px;
text-align: center;
}



